<p id="notice"><%= notice %></p>

<h1><%= @artist.name %>'s Cds</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @cds.each do |cd| %>
      <tr>
        <td><%= link_to cd.title, cd %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cd', new_artist_cd_path(@artist) %>
